<div class='well'>
  <%= form_for(@user) do |f| %>
    <%= render 'shared/errors', obj: @user %>
    <div class='control-group'>
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>
    <div class='control-group'>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <div class='control-group'>     
      <%= f.label :time_zone %>
      <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones, default: Time.zone.name %>
    </div>
     <div class="control-group">
      <%= f.label :phone, "Phone Nmber <small>(numbers only)</small>".html_safe %>
      <%= f.text_field :phone, maxlength: 10 %>
      <%= link_to "#", id: 'two_factor_phone' do %>
        <i class="icon-question-sign" id="phone_tool_tip" data-toggle="popover" data-placement="right" title data-content="Please enter your phone number if you want to enable two factor authenication. This means that when you log in, a text message containing a 6 digit pin will be sent to you. You will need this number to continue to log in." data-original-title="Two Factor Authentication"></i>
      <% end %>
    </div>
    </div>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>   
</div>
