<div class='row'>
  <div class='span8 well'>
    <%= render post.categories %>
    <h4><%= link_to post.title, fix_url(post.url) %></h4>
    <p><%= post.description %></p>
    <p>
    <%# = binding.pry %>
    <% #TODO DO NOT LEAVE THE FOLLOWING LINE IN PRODUCTION %>
      <span class='quiet'>posted by</span> <%= post.creator.present? ? post.creator.username : 'No creator defined!' %>
      <small>on  <%= post.created_at.to_formatted_s(:long) %></small>
      <!-- <small>at <%#= display_datetime(post.created_at) %></small> -->
    </p>
    <small>
      <span>
        <%= link_to("#{post.comments.size} comments", post_path(post)) %>
        <%# if logged_in? %>
        <% if logged_in? && current_user.id == post.user_id # my solution I wanted creator to have edit ability %>         
          [<%= link_to 'edit this post', edit_post_path(post) %>]
        <% end %>
      </span>
    </small>
  </div>
</div>
