<% if @post.errors.any? %>
  <div class='alert alert-error'>
  <h4>There were some errors:</h4>
  <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_for @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, class: 'input-with-feedback' %>
  <br/>
    <%= f.label :url %>
  <%= f.text_field :url %>
  <br/>
  <%= f.submit 'Create Post', class: 'btn btn-primary' %>
    <%= f.button :submit => '', class: 'btn btn-primary' %>

<% end %>
