<div class='well'>
  <%= form_for @post do |f| %>
    <div class='control-group'>
      <%= f.label :title %>
      <%= f.text_field :title, class: 'input-with-feedback' %>
    </div>
    <div class='control-group'>
      <%= f.label :url %>
      <%= f.text_field :url %>
    </div>
    <div class='control-group'>
      <%= f.label :description %>
      <%= f.text_area :description, rows: 5, class: 'input-with-feedback' %>
    </div>
    <div>
      <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |cb| %>
        <% cb.label(class: 'checkbox inline') { cb.check_box(class: 'checkbox') + cb.text } %>
      <% end %>
    </div>
    <%# = f.submit(@post.new_record? ? 'Create Post' : 'Update Post', class: 'btn btn-primary') %>
      <%= f.button :submit => nil, class: 'btn btn-primary' %>
  <% end %>
</div>
