<!-- <% if @comment.errors.any? %>
  <div class='row'>
    <div class='alert alert-error'>
      <h5>There were some errors:</h5>
      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %> -->

<%= render 'shared/errors', obj: @comment %>

<p class='pull-right'>
 [<%= link_to 'edit this post', edit_post_path(@post) %>]
</p>

<p>
  <%= render @post.categories %>
</p>

<%= render 'shared/content_title', title: @post.title %>

<p>
  <%= @post.description %>
</p>
<hr/>
<%= link_to 'go back to all posts', posts_path %>

<h5>Create a comment:</h5>
<div class='well'>
  <div class='control-group'>
    <%= form_for [@post, @comment] do |f| %>
    <%= f.text_area :body, rows: 5, class: 'input-with-feedback' %>
  </div>
    <%= f.button :submit => nil, class: 'btn btn-primary' %>
  <% end %>
</div>
  