<%#= render 'shared/errors', obj: @comment %>
<h4>Hi there, you're viewing <%= link_to @post.title, fix_url(@post.url) %></h4>

<%# if logged_in? %>
<% if logged_in? && current_user.id == @post.user_id # my solution I wanted creator to have edit ability %>
  <p class='pull-right'>
   [<%= link_to 'edit this post', edit_post_path(@post) %>]
  </p>
<% end %>

<p>
  <%= render @post.categories %>
</p>

<%= render 'shared/content_title', title: @post.title %>

<p>
  <%= @post.description %>
</p>
<hr/>

<%= link_to 'go back to all posts', posts_path %>

<hr/>

<% if logged_in? %>
  <div class='well span8'>
    <h4>Create a comment:</h4>
      <div class='control-group'>
        <%= form_for [@post, @comment] do |f| %>
          <%= render 'shared/errors', obj: @comment %>

          <%= f.text_area :body,  rows: 5, class: 'input-with-feedback span5' %>
      </div>
        <%= f.button :submit => nil, name: 'commit', class: 'btn btn-primary' %>
      <% end %>
  </div>
<% end %>

<div class='row'>
  </div class='span8'>
  <hr/>
  <h5>Comments:</h5>
    <% @post.comments.each do |comment| %>
     <%= render '/shared/comment', comment: comment %>
    <% end %>
  </div>
</div>
  