<%= render 'shared/errors', obj: @comment %>
<h4>Hi there, you're viewing <%= link_to @post.title, fix_url(@post.url) %></h4>

<p class='pull-right'>
 [<%= link_to 'edit this post', edit_post_path(@post) %>]
</p>

<p>
  <%= render @post.categories %>
</p>

<%= render 'shared/content_title', title: @post.title %>

<p>
  <%= @post.description %>
</p>
<hr/>

<%= link_to 'go back to all posts', posts_path %>

<hr/>

<div class='well span8'>
<h4>Create a comment:</h4>
  <div class='control-group'>
    <%= form_for [@post, @comment] do |f| %>
      <%= f.text_area :body,  rows: 5, class: 'input-with-feedback span5' %>
  </div>
    <%= f.button :submit => nil, class: 'btn btn-primary' %>
  <% end %>
</div>

<div class='span8'>
<hr/>
  <h5>Comments:</h5>
    <% @post.comments.each do |comment| %>
      <div class='well span8'>
        <em>"<%= comment.body %>"</em>
        <span class='quiet'>by</span> <%= link_to comment.creator.present? ? comment.creator.username : 'No creator defined!' %>
        <small>on <%= comment.created_at.to_formatted_s(:long) %></small>
        <!-- <small>at <%#= display_datetime(comment.created_at) %></small> -->
      </div>
    <% end %>
</div>
  