<!-- <% if @category.errors.any? %>
  <div class='row'>
    <div class='alert alert-error'>
      <h5>There were some errors:</h5>
      <ul>
        <% @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %> -->

<div class='well'>
  <%= form_for @category do |f| %>
    <div class='control-group'>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'input-with-feedback' %>
    </div>
    <%# = f.submit(@post.new_record? ? 'Create Post' : 'Update Post', class: 'btn btn-primary') %>
      <%= f.button :submit => nil, class: 'btn btn-success' %>
  <% end %>
</div>